* {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.container {
    width: 980px;
    margin: 0 auto;
    background-color: #fff;
  }

li {
    list-style-type: none;
}

.addNavigation-cityAccount {
    color: #766259;
    font-family: Calibri;
    font-size: 13px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #766259;
    padding: 13px 0;
}

.addNavigation ul {
    display: flex;    
}

.addNavigation ul li {
    margin-right: 30px;
    border-bottom: 1px solid #766259;
}

.cityAccount ul {
    display: flex;
}

.cityAccount ul li {
    margin-left: 30px;
}

.logo-search-number {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #766259;
}

.logo {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.logoText {
    display: flex;
    flex-direction: column;    
    margin-left: 15px;
}

.logoText p {
    color: #5e3919;
    font-family: Philosopher;
    font-size: 12px;
    font-weight: 700;
}

.logo input {
    width: 330px;
    height: 36px;
    box-shadow: inset 0 1px 2px rgba(96, 58, 26, 0.22);
    border-radius: 18px;
    background-color: #ffffff;
    margin-left: 65px;
}

.number {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.numberNumber {    
    color: #461f02;
    font-family: Georgia;
    font-size: 28px;
}

.numberText {
    color: #766259;
    font-family: Calibri;
    font-size: 13px;
    font-weight: 400;
}

.navigation-sumTotal {
    display: flex;
    justify-content: space-between;
    line-height: 45px;
}

.navigation ul {
    display: flex;    
}

.navigation ul li {
    color: #461f02;
    font-family: Calibri;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 40px;
}

.sumTotal {
    display: flex;
}

.sum {
    color: #461f02;
    font-family: Calibri;
    font-size: 17px;
    font-weight: 700;
    margin-left: 10px;
}

.sum i {
    font-size: 12px;
}

.order {
    width: 390px;
}

.orderDataFilling {
    display: flex;
    flex-direction: column;
}

.orderDataFilling h2 {
    color: #461f02;
    font-family: Georgia;
    font-size: 35px;
    margin-top: 25px;
}

.selectFizOrYur {
    display: flex;
    margin-top: 33px;
}

.selectFizOrYur input {
    display: none;
}

.selectFizOrYur label {
    display: block;
    width: 195px;
    height: 49px;    
    border: 1px solid #f0e4ca;
    background-color: #fdfcfa;
    color: #461f02;
    font-family: Calibri;
    font-size: 15px;
    font-weight: 400;
    line-height: 49px;
    text-align: center;
}

.selectFizOrYur label:first-of-type {    
    border-radius: 4px 0 0 4px;
}

.selectFizOrYur label:last-of-type {
    border-radius: 0 4px 4px 0;
}

.selectFizOrYur input:checked + label {
    background-color: #f0e4ca;
}

.selectFizOrYur label:hover {
    color: #666;
    cursor: pointer;
}

.contactDetails {
    margin-top: 42px;
    width: 450px;
    display: flex;
    flex-wrap: wrap;
}

.contactDetails h3 {
    margin-bottom: 22px;
    color: #461f02;
    font-family: Georgia;
    font-size: 25px;
}

.parameter {
    color: #817068;
    font-family: Calibri;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 8px 10px;
}

.contactDetails_input {
    height: 35px;
    width: 174px;
    margin: 0 19px 18px 0;
    border-radius: 2px;
    border: 1px solid #c4b7b1;
    color: #817068;
    font-family: Calibri;
    font-size: 16px;
    font-weight: 400;
    padding-left: 11px;
}

.addressDelivery_p {
    color: #461f02;
    font-family: Georgia;
    font-size: 25px;
}

.address {
    display: flex;
    margin-top: 17px;
}

.delivery p {
    color: #461f02;
    font-family: Georgia;
    font-size: 19px;
}

.delivery_radio {
    display: flex;
    flex-direction: column;
}

.delivery_radio_box {
    display: flex;
}

.delivery_radio_box label {
    color: #461f02;
    font-family: Calibri;
    font-size: 17px;
    font-weight: 400;
}

.delivery_radio_box p {
    color: #c4b7b1;
    font-family: Calibri;
    font-size: 13px;
    font-weight: 400;
}

.delivery_radio_box {
    width: 390px;
    height: 70px;
    border: 1px solid #ccc;
}

.delivery_radio_box div {
    width: 390px;
    height: 70px;    
}

.delivery_radio_box div label {
    width: 370px;
    height: 50px;    
}

.delivery_map {
    margin-top: 29px;
}

.delivery_map h3 {
    color: #461f02;
    font-family: Georgia;
    font-size: 19px;
}

.delivery_map p {
    margin: 17px 0 5px 10px;
    color: #817068;
    font-family: Calibri;
    font-size: 14px;
    font-weight: 400;
}

.delivery_map_input {
    width: 246px;
    height: 35px;
    border-radius: 2px;
    border: 1px solid #c4b7b1;
}

.submit {
    width: 226px;
    height: 46px;
    border-radius: 2px;
    border: 1px solid #ff6900;
    background-color: #fff;
    color: #ff7700;
    font-family: Calibri;
    font-size: 14px;
    font-weight: 700;
    align-self: flex-end;
    margin-top: 28px;
}

.comment_text {
    width: 100%;
    height: 180px;
    resize: none;
}

.comment h3 {
    margin-top: 42px;
    color: #6e422d;
    font-family: Georgia;
    font-size: 25px;
}

.comment textarea {
    margin-top: 21px;
}